<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <form action="/todo" method="POST">
        <label for="plan">A plan: </label>
        <input type="text" id="plan" name="plan">
        <input type="submit" value="add to my todo list ">
    </form>

    <%if (entries !== null) { %>
        <table>
            <% for(let entry of entries) { %>
               <tr>
                 <td><%= entry.entry %></td>
               </tr>
            <% } %>
        </table>
    <% } %>

</body>
</html>